{%- doc -%}
  Intended for use in a block similar to the button block.

  @param {string} link - link to render
  @param {object} [block] - The block

  @example
  {% render 'button', link: '/collections/all' %}
{%- enddoc -%}

{% assign block_settings = block.settings %}

<a
  {% if link == blank %}
    role="link"
    aria-disabled="true"
  {% else %}
    href="{{ link }}"
  {% endif %}
  class="
    size-style
    {{ block_settings.style_class }}
    {{ block_settings.style_class }}--{{ block.id }}
  "
  style="{% render 'size-style', settings: block_settings %}"
  {%- if block_settings.open_in_new_tab -%}
    target="_blank"
    rel="noopener noreferrer"
  {%- endif -%}
  {{ block.shopify_attributes }}
>
  {% if block.settings.add_left_icon == true and block.settings.left_svg_icon != blank %}
    <span class="button--icon svg-wrapper">
      {{ block.settings.left_svg_icon }}
    </span>
  {% endif %}
  {{ block_settings.label }}
  {% if block.settings.add_right_icon == true and block.settings.right_svg_icon != blank %}
    <span class="button--icon svg-wrapper">
      {{ block.settings.right_svg_icon }}
    </span>
  {% endif %}
</a>

{% stylesheet %}
  .button:has(.button--icon) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-sm);
  }

  .button--icon, .button--icon svg {
    width: auto;
    height: var(--icon-size-xs);
  }

  .link {
    text-decoration: none;
    text-decoration-color: currentcolor;

    &:has(.button--icon) {
      display: flex;
      align-items: center;
      gap: var(--gap-xs);
    }

    &:hover {
      color: var(--color-primary-hover);
      text-decoration-color: transparent;
    }
  }
{% endstylesheet %}
