{%- doc -%}
  Renders a product media component.

  @param {object} media - The product media object.
  @param {object} mobile_media - The product mobile media object.
  @param {boolean} [preview_image_only] - Renders only the preview image without controls.
  @param {string} [widths] - Image widths for responsive images.
  @param {string} [sizes] - Image sizes for responsive images.
  @param {string} [loading] - The loading attribute for the image.
  @param {object} [block] - The block object.
  @param {object} [section] - The section object.
  @param {object} [selected_product] - The currently selected product.
  @param {boolean} [first_3d_model] - Indicates if this is the first 3D model.
  @param {boolean} [is_main_product_media] - Indicates if this is the main product image.

  @example
  {% render 'product-media', media: media, preview_image_only: false, loading: 'lazy' %}
{%- enddoc -%}

{% liquid
  assign widths = widths | default: '240, 352, 832, 1200, 1600, 1920, 2560, 3840'
%}

<div
  class="pack-media"
  style="--ratio: {{ media.aspect_ratio }};{% if mobile_media %}--mobile-ratio: {{ mobile_media.aspect_ratio }}{% endif %}"
  data-media-id="{{ media.id }}"
>
  {% liquid
    assign high_res_url = media | image_url: width: 3840
    assign fetch_priority = 'auto'
    if is_main_product_media
      assign fetch_priority = 'high'
    endif
    assign focal_point_style = '--focal-point: ' | append: media.presentation.focal_point | append: ';'
  %}
  {% assign media_classes = 'product-media__image product-media__desktop' %}
  {% if mobile_media %}
    {% assign media_classes = media_classes | append: ' mobile:hidden' %}
  {% endif %}
  {{
    media
    | image_url: width: 3840
    | image_tag:
      widths: widths,
      alt: media.alt,
      sizes: sizes,
      loading: loading,
      class: media_classes,
      transitionToProduct: settings.transition_to_main_product,
      data_max_resolution: high_res_url,
      fetchpriority: fetch_priority,
      style: focal_point_style
  }}

  {% if mobile_media != blank %}
    {% assign mobile_media_classes = 'product-media__image product-media__mobile' %}
    {% if mobile_media %}
      {% assign mobile_media_classes = mobile_media_classes | append: ' desktop:hidden' %}
    {% endif %}
    {{
      mobile_media
      | image_url: width: 3840
      | image_tag:
        widths: widths,
        alt: media.alt,
        sizes: sizes,
        loading: loading,
        class: mobile_media_classes,
        transitionToProduct: settings.transition_to_main_product,
        data_max_resolution: high_res_url,
        fetchpriority: fetch_priority,
        style: focal_point_style
    }} 
  {% endif %}
</div>

{% stylesheet %}
  .pack-media {
    aspect-ratio: var(--gallery-aspect-ratio, var(--ratio));
    min-height: 0;
    min-width: 0;

      &[style*="--mobile-ratio"] {
        @media (max-width: 749px) {
          aspect-ratio: var(--gallery-aspect-ratio, var(--mobile-ratio));
        }
      }
  }

  .product-media__image {
    object-position: var(--focal-point, center center);
  }

  ::view-transition-old(gallery-item),
  ::view-transition-new(gallery-item) {
    animation-duration: 0ms;
  }
{% endstylesheet %}