{% assign block_settings = block.settings %}

<button
    {% comment %} role="link"
    aria-disabled="true" {% endcomment %}
  class="
    size-style
    flip-panel-button
    {{ block_settings.style_class }}
    {{ block_settings.style_class }}--{{ block.id }}
  "
  disabled
  style="{% render 'size-style', settings: block_settings %}"
  {{ block.shopify_attributes }}
>
  {% if block.settings.add_left_icon == true and block.settings.left_svg_icon != blank %}
    <span class="button--icon svg-wrapper">
      {{ block.settings.left_svg_icon }}
    </span>
  {% endif %}

  {% if block_settings.progress_label != blank %}
    <span class="progress-text">
        {{ block_settings.progress_label }}
    </span>
  {% endif %}
  {% if block_settings.success_label != blank %}
    <span class="success-text" hidden>
        {{ block_settings.success_label }}
    </span>
  {% endif %}

  {% if block.settings.add_right_icon == true and block.settings.right_svg_icon != blank %}
    <span class="button--icon svg-wrapper">
      {{ block.settings.right_svg_icon }}
    </span>
  {% endif %}
</button>

{% stylesheet %}
  .button:has(.button--icon) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-sm);
  }

  .flip-panel-button[disabled] .success-text {
    display: none
  }

  .flip-panel-button:not([disabled]) .progress-text {
    display: none
  }

  .button--icon, .button--icon svg {
    width: auto;
    height: var(--icon-size-sm);
  }

  .link {
    text-decoration: none;
    text-decoration-color: currentcolor;

    &:has(.button--icon) {
      display: flex;
      align-items: center;
      gap: var(--gap-xs);
    }

    &:hover {
      color: var(--color-primary-hover);
      text-decoration-color: transparent;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Flip panel button",
  "tag": null,
  "settings": [
    {
      "type": "text",
      "id": "progress_label",
      "label": "Progress text",
      "default": "t:text_defaults.button_label"
    },
    {
      "type": "text",
      "id": "success_label",
      "label": "Success text",
      "default": "t:text_defaults.button_label"
    },
    {
      "type": "checkbox",
      "id": "add_left_icon",
      "label": "Add left icon",
      "default": false
    },
    {
      "type": "liquid",
      "id": "left_svg_icon",
      "label": "Left SVG Icon",
      "visible_if": "{{ block.settings.add_left_icon != false }}"
    },
    {
      "type": "checkbox",
      "id": "add_right_icon",
      "label": "Add right icon",
      "default": false
    },
    {
      "type": "liquid",
      "id": "right_svg_icon",
      "label": "Right SVG Icon",
      "visible_if": "{{ block.settings.add_right_icon != false }}"
    },
    {
      "type": "select",
      "id": "style_class",
      "label": "t:settings.style",
      "options": [
        {
          "value": "button",
          "label": "t:options.primary"
        },
        {
          "value": "button-secondary",
          "label": "t:options.secondary"
        },
        {
          "value": "link",
          "label": "t:options.link"
        }
      ],
      "default": "button"
    },
    {
      "type": "header",
      "content": "t:content.size"
    },
    {
      "type": "select",
      "id": "width",
      "label": "t:settings.width_desktop",
      "options": [
        {
          "value": "fit-content",
          "label": "t:options.fit_content"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "fit-content"
    },
    {
      "type": "range",
      "id": "custom_width",
      "label": "t:settings.custom_width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ block.settings.width == \"custom\" }}"
    },
    {
      "type": "select",
      "id": "width_mobile",
      "label": "t:settings.width_mobile",
      "options": [
        {
          "value": "fit-content",
          "label": "t:options.fit_content"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "fit-content"
    },
    {
      "type": "range",
      "id": "custom_width_mobile",
      "label": "t:settings.custom_width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ block.settings.width_mobile == \"custom\" }}"
    }
  ]
}
{% endschema %}
