{% liquid
  assign block_settings = block.settings
%}

<div class="flip-card group-block
    group-block--height-fit
    group-block--width-fill"
  {{ block.shopify_attributes }}>

  <div class="flip-card-inner">
    <div class="flip-card-front spacing-style  border-style color-{{ block_settings.outer_color_scheme }}"
      style="
      {% render 'border-override', settings: block_settings %}
       --border-radius: {{ block_settings.border_radius | minus: 5 }}px; 
      {% render 'spacing-style', settings: block_settings %}"
    >
      <div class="flip-front-content {% if block_settings.inherit_color_scheme == false %} color-{{ block_settings.color_scheme }}{% endif %}">
        {% if block_settings.card_icon != blank %}
            {% content_for 'block',
            type: '_object-image',
            id: 'flip-card-image',
            image_source: block_settings.card_icon,
            parent_block_id: block.id %}
        {% endif %}
      </div>
    </div>
    <div class="flip-card-back spacing-style border-style"
      style="
      {% render 'border-override', settings: block_settings %}
       --border-radius: {{ block_settings.border_radius | minus: 5 }}px; 
      {% render 'spacing-style', settings: block_settings %}">
        <div class="image-flip-card
            image-block image-block--height-fit size-style
          " style="
            --ratio: 1;
            --size-style-width: 100%;--size-style-height: fit;--size-style-width-mobile: 100%; --size-style-width-mobile-min: 5rem;
          " hidden>
          </div>
        <h3 class="flip-card-title"></h3>
    </div>
  </div>
</div>

{% stylesheet %}
  .flip-card {
    perspective: 1000px;
    cursor: pointer;
    aspect-ratio: 4 / 5;
    -webkit-tap-highlight-color: transparent;
  }

  .image-flip-card {

    img {
      object-fit: contain;
    }

    @media (max-width: 749px) {
      height: 3.5rem;
    }
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    box-shadow: 4px 6px 3px -1px rgba(0,0,0,0.16);
    -webkit-box-shadow: 4px 6px 3px -1px rgba(0,0,0,0.16);
    -moz-box-shadow: 4px 6px 3px -1px rgba(0,0,0,0.16);
  }

  .flip-card.active .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-back {
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: rotateY(180deg);
  }

  .flip-card[disabled] {
    pointer-events: none;
    cursor: not-allowed;

    .flip-front-content {
      background: rgb(255,255,255) !important;
    }
  }

  .flip-card .resource-image {
    width: 2.3rem;
    margin: auto;
    height: auto;

    @media (min-width: 750px) {
      width: 6rem;
    }
  }

  .flip-front-content {
    border-radius: var(--border-radius);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flip-card-title {
    font-size: var(--font-size--lg);
    margin-top: auto;

    @media (max-width: 749px) {
      font-size: var(--font-size--xs);
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Flip Card",
  "tag": null,
  "settings": [
    {
      "type": "image_picker",
      "id": "card_icon",
      "label": "Card Icon"
    },
    {
      "type": "header",
      "content": "t:content.appearance"
    },
    {
      "type": "color_scheme",
      "id": "outer_color_scheme",
      "label": "Outer Background",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "inherit_color_scheme",
      "label": "t:settings.inherit_color_scheme",
      "default": true
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1",
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "select",
      "id": "border",
      "label": "t:settings.borders",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "solid",
          "label": "t:options.solid"
        }
      ],
      "default": "none"
    },
    {
      "type": "range",
      "id": "border_width",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "t:settings.border_width",
      "default": 1,
      "visible_if": "{{ block.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:settings.border_opacity",
      "default": 100,
      "visible_if": "{{ block.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_radius",
      "label": "t:settings.border_radius",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "enable_mobile_radius",
      "label": "Custom mobile radius",
      "default": false
    },
    {
      "type": "range",
      "id": "mobile_border_radius",
      "label": "Mobile corner radius",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0,
      "visible_if": "{{ block.settings.enable_mobile_radius == true }}"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "t:settings.left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "t:settings.right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "custom_mobile_padding",
      "label": "Custom Mobile Padding",
      "default": false
    },
    {
      "type": "range",
      "id": "mobile-padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0,
      "visible_if": "{{ block.settings.custom_mobile_padding == true }}"
    },
    {
      "type": "range",
      "id": "mobile-padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0,
      "visible_if": "{{ block.settings.custom_mobile_padding == true }}"
    },
    {
      "type": "range",
      "id": "mobile-padding-inline-start",
      "label": "t:settings.left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0,
      "visible_if": "{{ block.settings.custom_mobile_padding == true }}"
    },
    {
      "type": "range",
      "id": "mobile-padding-inline-end",
      "label": "t:settings.right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0,
      "visible_if": "{{ block.settings.custom_mobile_padding == true }}"
    }
  ],
  "presets": [
    {
        "name": "Flip Card"
    }
  ]
}
{% endschema %}