{%- doc -%}
  This snippet is used to render the quantity selector for a product.
  It is used in the product page and the cart page.
  @param {object} current_product - the main product
{%- enddoc -%}

{% assign block_settings = block.settings %}
{% assign pack_items = block_settings.pack_items %}

{% if pack_items.size == 0 %}
    {% break %}
{% endif %}
  {%- assign product_form_id = 'BuyButtons-ProductForm-' | append: section.id -%}

<pack-picker
  class="pack-picker-block pack-picker-block--{{ block.id }}"
  {{ block.shopify_attributes }}
  data-form-id="{{ product_form_id }}"
  data-section-id="{{ section.id }}"
  data-limit="{{ current_product.selected_or_first_available_variant.metafields.custom.pack_limit | plus: 0 }}"
>
  <div class="pack-picker--inner">
    <div class="pack-picker-items">
      {% liquid
        assign lowest_ratio = 999
        
        for i in pack_items
          assign image_ratio = i.vector_image.value.aspect_ratio
          assign i_product = all_products[i.product]
          
          if i_product.available == true
            if lowest_ratio > image_ratio
              assign lowest_ratio = image_ratio
            endif
          endif
        endfor
      %}

      {% for item in pack_items %}
        {% assign item_product = all_products[item.product] %}
        {% assign selected_variant = item_product.selected_or_first_available_variant %}
        {% if item_product != blank %}
          <div class="pack-item title--aligned-center justify-between {% if item_product.available == false %}oos-pack-item{% endif %}" data-id="{{ item.system.id }}">
            <div class="flex pack-item-flex title--aligned-center">
              <div>
                {% if item.vector_image != blank %}
                  {% render 'image', image: item.vector_image, class: 'pack-item-image', height: 50 %}
                {% endif %}
              </div>
              <div>
                <span class="pack-item-title">
                  {{ item.title }}
                </span>
                {% if selected_variant.inventory_management == 'shopify' and selected_variant.inventory_quantity %}
                  {% if selected_variant.available and selected_variant.inventory_quantity <= 10 %}
                    <span class="stock-label">
                      {{ 'products.product.stock_message' | t: stock: selected_variant.inventory_quantity }}
                    </span>
                  {% endif %} 
                {% endif %}
                {% if item_product.available == false %}
                  <span class="stock-label {% comment %}color-{{ block_settings.badge_sold_out_color_scheme }}{% endcomment %}">
                    {{ 'products.product.sold_out' | t }}
                  </span>
                {% endif %}

                <input type="hidden" name="pack_item_image" value="{{ item.vector_image.value | image_url: width: '500' }}" {% if item.vector_image.value.aspect_ratio != highest_ratio %}data-contain{% endif %} form="{{ product_form_id }}" class="pack-item-image">
                <input type="hidden" name="pack_item" disabled value="{{ selected_variant.id }}" form="{{ product_form_id }}" class="pack-item-input">
              </div>
            </div>
            <div>
              {% render 'pack-quantity-selector', 
                product: item_product,
                class: 'pack-quantity-selector',
                current_product: current_product,
                variant: selected_variant,
              %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="pack-picker--gradient"></div>
</pack-picker>

{% stylesheet %}
  pack-picker {
    position: relative;
    display: block;

    @media (min-width: 751px) {
      height: calc(100% - 215px);
    }
  }

  .pack-quantity-selector button[disabled] {
    pointer-events: none;
  }

  .stock-label {
    display: block;
    /* max-width: fit-content;
    margin-top: var(--margin-2xs);
    position: relative;
    --badge-rectangle-padding-block: 0px;
    margin-right: 13px;
    font-weight: 600;
    font-style: italic;
    padding-block: var(--badge-rectangle-padding-block);
    padding-inline: var(--badge-rectangle-padding-inline);
    --badge-font-size: var(--font-size--xs);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-foreground);
    background: var(--color-background);

    text-transform: var(--badge-text-transform);
    border-radius: var(--badge-border-radius); */
    font-size: var(--font-size--xs);
    font-family: var(--badge-font-family);
    font-weight: var(--badge-font-weight);
    position: relative;
  }
  /* .stock-label:after {
      content: "";
      position: absolute;
      top: 0;
      right: -13px;
      width: 14px;
      height: 100%;
      background: inherit;
      clip-path: polygon(0 0, 100% 0, 50% 50%, 100% 100%, 0 100%);
  } */

  .pack-item-image {
    width: 50px;
    min-width: 50px;
    display: block;
    height: 50px;
    object-fit: contain;
  }
  .pack-item-flex {
    flex: 1 auto;
  }

  .pack-item-flex > div:first-child {
    width: 50px;
    max-width: 50px;
  }

  .pack-item-flex > div:last-child {
    flex: 1 auto;
  }

  .oos-pack-item > div:has(.pack-quantity-selector) {
    /* visibility: hidden;
    opacity: 0; */
    display: none;
  }

  .pack-picker--inner {
    overflow-y: scroll;
    height: 100%;
    max-height: 100%;
    width: 100%;
    padding-bottom: 2rem;

    @media (max-width: 750px) {
      padding-bottom: 0;
    }
  }

  .pack-picker--gradient {
    position: absolute;
    width: 100%;
    height: 3rem; 
    background: linear-gradient(to top, white, transparent);
    bottom: 0;
    left: 0;

    @media (max-width: 750px) {
      height: 1rem; 
    }
  }

  .pack-item-title {
    font-family: var(--font-h4--family);
    font-style: var(--font-h4--style);
    font-weight: var(--font-h4--weight);
    font-size: var(--font-h4--size);
    line-height: var(--font-h4--line-height);
    display: block;

    @media (max-width: 750px) {
      font-size: var(--font-size--md);
    }
  }

  .pack-item {
    padding-block: var(--padding-xs);

    &:not(:last-child) {
      border-bottom: var(--style-border-width-inputs) solid var(--color-input-border);
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Pack Picker",
  "tag": null,
  "settings": [
    {
        "type": "metaobject_list",
        "id": "pack_items",
        "label": "Pack items",
        "metaobject_type": "pack_item"
    },
    {
      "type": "color_scheme",
      "id": "badge_sale_color_scheme",
      "label": "t:settings.badge_sale_color_scheme",
      "default": "scheme-4"
    },
    {
      "type": "color_scheme",
      "id": "badge_sold_out_color_scheme",
      "label": "t:settings.badge_sold_out_color_scheme",
      "default": "scheme-5"
    }
  ],
  "presets": [
    {
      "name": "Pack Picker",
      "category": "t:categories.product"
    }
  ]
}
{% endschema %}