{%- doc -%}
  Display an image of a collection inside a collection card.
  Intended for collection-card.liquid block.

  @param {object} item - The item source
  @param {string} card_title - The title
  @param {boolean} [horizontal] - The card state
  @param {string} [subtext] - The subtext
  @param {string} [upgrade_price] - The upgrade price
{%- enddoc -%}

{% style %}
  {% if request.visual_preview_mode %}
    .pack-card {
      min-width: 250px;
    }
  {% endif %}
{% endstyle %}

{% assign item_image = item.metafields.custom.pack_image | default: item.featured_image %}

{% capture card_image %}
  <div class="pack-card-image">
    {% unless horizontal == true %}
      {% if item.metafields.custom.badge_text != blank %}
        <span class="card-badge product-badges__badge product-badges__badge--ribbon color-{{ block.settings.badge_card_color_scheme }}"
          style="
            --badge-border-radius: {{ settings.badge_corner_radius }}px;
            --badge-font-family: var(--font-{{ settings.badge_font_family }}--family); --badge-font-weight: var(--font-{{ settings.badge_font_family }}--weight); --badge-text-transform: uppercase;
          "
        >
          {{ item.metafields.custom.badge_text }}
        </span>
      {% endif %}
    {% endunless %}

    {% content_for 'block',
      type: '_object-image',
      id: 'pack-card-image',
      image_source: item_image,
      parent_block_id: block.id %}
  </div>
{% endcapture %}

{% capture card_title %}
  {% assign title = card_title | default: item.title %}
  {% content_for 'block',
    type: '_object-text',
    id: 'object-text',
    text: title %}
{% endcapture %}

{% capture card_price %}
  {% content_for 'block',
    type: '_pack-price',
    id: 'price',
    item: item %}
{% endcapture %}

{% if horizontal %}
  {% render 'horizontal-pack-card',
    card_image: card_image,
    card_title: card_title,
    card_price: card_price,
    upgrade_price: upgrade_price,
    subtext: subtext,
    block: block,
    item: item,
    section: section
  %}
{% else %}
  {% render 'pack-card',
    card_image: card_image,
    card_title: card_title,
    card_price: card_price,
    block: block,
    item: item,
    section: section
  %}
{% endif %}

{% schema %}
{
  "name": "Pack card",
  "tag": null,
  "settings": [
    {
      "type": "paragraph",
      "content": "t:content.resource_reference_collection_card"
    },
    {
      "type": "header",
      "content": "t:content.text"
    },
    {
      "type": "select",
      "id": "placement",
      "label": "t:settings.placement",
      "options": [
        {
          "value": "on_image",
          "label": "t:options.on_image"
        },
        {
          "value": "below_image",
          "label": "t:options.below_image"
        }
      ]
    },
    {
      "type": "select",
      "id": "horizontal_alignment",
      "label": "t:settings.alignment",
      "options": [
        {
          "value": "flex-start",
          "label": "t:options.left"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "flex-end",
          "label": "t:options.right"
        }
      ],
      "default": "flex-start"
    },
    {
      "type": "select",
      "id": "vertical_alignment",
      "label": "t:settings.position",
      "options": [
        {
          "value": "flex-start",
          "label": "t:options.top"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "flex-end",
          "label": "t:options.bottom"
        }
      ],
      "default": "center",
      "visible_if": "{{ block.settings.placement == \"on_image\" }}"
    },
    {
      "type": "range",
      "id": "pack_card_gap",
      "label": "t:settings.vertical_gap",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 8
    },
    {
      "type": "header",
      "content": "t:content.appearance"
    },
    {
      "type": "checkbox",
      "id": "inherit_color_scheme",
      "label": "t:settings.inherit_color_scheme",
      "default": true
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1",
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color_scheme",
      "id": "badge_sale_color_scheme",
      "label": "t:settings.badge_sale_color_scheme",
      "default": "scheme-4"
    },
    {
      "type": "color_scheme",
      "id": "badge_card_color_scheme",
      "label": "Card badge",
      "default": "scheme-4"
    },
    {
      "type": "select",
      "id": "border",
      "label": "t:settings.borders",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "solid",
          "label": "t:options.solid"
        }
      ],
      "default": "none"
    },
    {
      "type": "range",
      "id": "border_width",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "t:settings.border_width",
      "default": 1,
      "visible_if": "{{ block.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:settings.border_opacity",
      "default": 100,
      "visible_if": "{{ block.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_radius",
      "label": "t:settings.border_radius",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ]
}
{% endschema %}
