{%- doc -%}
  This snippet is used to render the quantity selector for a product.
  It is used in the product page and the cart page.
  @param {object} current_product - the main product
{%- enddoc -%}

{% assign block_settings = block.settings %}
{% assign pack_items = block_settings.pack_items %}

{% if pack_items.size == 0 %}
    {% break %}
{% endif %}
  {%- assign product_form_id = 'BuyButtons-ProductForm-' | append: section.id -%}

<pack-picker
  class="pack-picker-block pack-picker-block --{{ block.id }}"
  {{ block.shopify_attributes }}
  data-form-id="{{ product_form_id }}"
  data-limit="{{ current_product.selected_or_first_available_variant.metafields.custom.pack_limit | plus: 0 }}"
>
  <div class="pack-picker--inner">
    <div class="pack-picker-items">
      {% for item in pack_items %}
        {% assign item_product = all_products[item.product] %}

        {% if item_product %}
          <div class="pack-item title--aligned-center justify-between {% if item_product.available == false %}oos-pack-item{% endif %}">
            <div class="flex title--aligned-center">
              <div>
                {% if item.vector_image != blank %}
                  {% render 'image', image: item.vector_image, class: 'pack-item-image', height: 50 %}
                {% endif %}
              </div>
              <div>
                <span class="pack-item-title">
                  {{ item.title }}{% if item_product.available == false %} - {{'products.product.sold_out' | t }}{% endif %}
                </span>
                <input type="hidden" name="pack_item" disabled value="{{ item_product.selected_or_first_available_variant.id }}" form="{{ product_form_id }}" class="pack-item-input">
              </div>
            </div>
            <div>
              {% render 'pack-quantity-selector', 
                product: item_product,
                class: 'pack-quantity-selector',
                current_product: current_product,
                variant: item_product.selected_or_first_available_variant,
              %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="pack-picker--gradient"></div>
</pack-picker>

{% stylesheet %}
  pack-picker {
    position: relative;

    @media (min-width: 751px) {
      height: calc(100% - 215px);
    }
  }

  .oos-pack-item {
    opacity: .5;
    cursor: not-allowed;
  }

  .pack-picker--inner {
    overflow-y: scroll;
    height: 100%;
    max-height: 100%;
  }

  .pack-picker--gradient {
    position: absolute;
    width: 100%;
    height: 3rem; 
    background: linear-gradient(to top, white, transparent);
    bottom: 0;
    left: 0;
  }

  .pack-item-title {
    font-family: var(--font-h4--family);
    font-style: var(--font-h4--style);
    font-weight: var(--font-h4--weight);
    font-size: var(--font-h4--size);
    line-height: var(--font-h4--line-height);
    display: block;
  }

  .pack-item {
    padding-block: var(--padding-xs);

    &:not(:last-child) {
      border-bottom: var(--style-border-width-inputs) solid var(--color-input-border);
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Pack Picker",
  "tag": null,
  "settings": [
    {
        "type": "metaobject_list",
        "id": "pack_items",
        "label": "Pack items",
        "metaobject_type": "pack_item"
    }
  ],
  "presets": [
    {
      "name": "Pack Picker",
      "category": "t:categories.product"
    }
  ]
}
{% endschema %}