{% liquid
  if section.settings.layout_type == 'carousel'
    assign max_items = section.settings.columns | plus: 2
  elsif section.settings.layout_type == 'grid'
    assign max_items = section.settings.columns
  endif

  case section.settings.layout_type
    when 'grid'
      assign classes = 'resource-list--grid'
      capture styles
        echo '--resource-list-column-gap-desktop: ' | append: section.settings.columns_gap | append: 'px;'
        echo '--resource-list-row-gap-desktop: ' | append: section.settings.rows_gap | append: 'px;'
        if section.settings.enable_mobile_rows_gap
          echo '--resource-list-mobile-gap-max: ' | append: section.settings.mobile_rows_gap | append: 'px;'
        endif
        echo '--resource-list-columns: repeat(' | append: section.settings.columns | append: ', 1fr);'
        echo '--resource-list-columns-mobile: repeat(' | append: section.settings.mobile_columns | append: ', 1fr);'
        echo '--column-count-mobile: ' | append: section.settings.mobile_columns | append: ';'
      endcapture
    when 'carousel'
      assign classes = 'resource-list__carousel'
      capture styles
        echo '--resource-list-column-gap-desktop: ' | append: section.settings.columns_gap | append: 'px;'

        if section.settings.peek_desktop == true
          echo '--column-count: ' | append: 1.5 | append: ';'
        else
          echo '--column-count: ' | append: section.settings.columns | append: ';'
        endif
        echo '--column-count-mobile: 1;'
        echo '--mobile-card-size: ' | append: section.settings.mobile_card_size | append: ';'
      endcapture
  endcase
%}

{% liquid

  capture vertical_mobile_styles
    echo '--resource-list-column-gap-desktop: ' | append: section.settings.columns_gap | append: 'px;'
    echo '--resource-list-row-gap-desktop: ' | append: section.settings.rows_gap | append: 'px;'
    if section.settings.enable_mobile_rows_gap
      echo '--resource-list-row-gap-mobile: ' | append: section.settings.mobile_rows_gap | append: 'px;'
    endif
    echo '--resource-list-columns: repeat(' | append: section.settings.columns | append: ', 1fr);'
    echo '--resource-list-columns-mobile: repeat(' | append: section.settings.mobile_columns | append: ', 1fr);'
    echo '--column-count-mobile: ' | append: section.settings.mobile_columns | append: ';'
  endcapture

%}

<div class="section-background color-{{ section.settings.color_scheme }}"></div>

<div
  class="
    section
    {% if section.settings.full_width_on_mobile %}carousel--mobile-full-width{% endif %}
    section--{{ section.settings.section_width }}
    color-{{ section.settings.color_scheme }}
    section-resource-list
    spacing-style
    gap-style
    {{ section.settings.css_class }}
  "
  style="
    {% render 'spacing-style', settings: section.settings %}
    {% render 'gap-style', value: section.settings.gap %}
    {{ styles }}
  "
>
  <div class="custom-section-background">
    {% render 'background-media',
      background_media: section.settings.background_media,
      background_video: section.settings.video,
      background_video_position: section.settings.video_position,
      background_image: section.settings.background_image,
      background_image_position: section.settings.background_image_position
    %}
  </div>

  <div
    class="custom-section-content"
  >
    <div class="section-resource-list__header">
      {%- content_for 'block', type: '_product-list-content', id: 'static-header', columns: section.settings.columns, items_size: section.blocks.size -%}
    </div>

    {% if section.settings.toggle_overlay %}
      {% render 'overlay', settings: section.settings, layer: '0' %}
    {% endif %}

    {% capture list_items %}
      {% content_for 'blocks' %}
    {% endcapture %}

    {% liquid
      # Create an array from the list items to be used for different layout types
      assign list_items_array = list_items | strip | remove_last: '<!--@list/split-->' | split: '<!--@list/split-->'
      assign marquee_duration_rate = section.settings.marquee_duration_rate
    %}

        <div class="slider-scrollings-wrapper" style="--desktop-columns: {{ section.settings.columns }}; --mobile-columns: {{ section.settings.mobile_columns }}; 
            --gap: {{ section.settings.columns_gap }}px;
            {% if section.settings.enable_mobile_column_gap == true %}
             --mobile-gap: {{ section.settings.mobile_column_gap }}px;
            {% endif %}
            ">
        
            <div class="slider-scrollings-pre-wrapper">
                {% capture marquee_items %}
                    {% for item in list_items_array %}
                        <div class="scrolling-item">
                            {{ item }}
                        </div>
                    {% endfor %}
                {% endcapture %}

                {% liquid
                    assign marquee_items_size = list_items_array.size | times: 1.0
                    assign marquee_items_size_shoud_be = 2
                    assign lower_limit = 1
                    assign upper_limit = marquee_items_size_shoud_be | ceil
                %}

                <div class="slider-scrollings" data-speed="{{ marquee_duration_rate }}">
                    {{ marquee_items }}
                </div>
            </div>
        </div>
  </div>
</div>

{% stylesheet %}
.slider-scrollings-wrapper {
    position: relative;
    overflow: hidden;
}
.scrolling-item {
    width: 100%;
    min-width: calc(100% / var(--desktop-columns) * calc(var(--desktop-columns) - 1) / var(--desktop-columns));
    margin: 0 var(--grid-desktop-horizontal-spacing);
    margin-right: var(--gap);
}

@media (max-width: 749px) {
    .slider-scrollings-wrapper[style*="--mobile-gap"] .scrolling-item {
        margin-right: var(--mobile-gap) !important;
    }
    .slider-scrollings-wrapper[style*="--mobile-columns: 2;"] .scrolling-item {
        min-width: 38%;
    }

    .slider-scrollings-wrapper[style*="--mobile-columns: 1;"] .scrolling-item {
        min-width: calc(100% / var(--mobile-columns));
    }
}

.slider-scrollings {
    display: flex;
    flex-direction: row;
    overflow-x: auto; /* Allow scrolling */
    animation: marquee var(--speed) linear infinite;
    flex: none;
    cursor: grab; /* Add a visual cue */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.slider-scrollings::-webkit-scrollbar {
    display: none;
}

.slider-scrollings:hover {
    animation-play-state: paused;
}

@-moz-keyframes marquee {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translate(-50%)
    }
}

@-webkit-keyframes marquee {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translate(-50%)
    }
}

@-o-keyframes marquee {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translate(-50%)
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translate(-50%)
    }
}

@media (max-width: 749px) {
    .scrolling-item {
        min-width: calc(100% - 16rem);
    }
}
{% endstylesheet %}

{% schema %}
{
  "name": "Scrolling Carousel",
  "class": "ui-scrolling-carousel",
  "blocks": [
    {
      "type": "_carousel-card"
    }
  ],
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "range",
      "id": "marquee_duration_rate",
      "label": "Marquee duration",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 5
    },
    {
      "type": "range",
      "id": "columns",
      "label": "t:settings.columns",
      "min": 1,
      "max": 8,
      "step": 1,
      "default": 4,
    },
    {
      "type": "select",
      "id": "mobile_columns",
      "label": "t:settings.mobile_columns",
      "options": [
        {
          "value": "1",
          "label": "t:options.one_number"
        },
        {
          "value": "2",
          "label": "t:options.two_number"
        }
      ],
      "default": "2"
    },
    {
      "type": "range",
      "id": "columns_gap",
      "label": "t:settings.horizontal_gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 8
    },
    {
      "type": "checkbox",
      "id": "enable_mobile_column_gap",
      "label": "Custom mobile column gap",
      "default": false
    },
    {
      "type": "range",
      "id": "mobile_column_gap",
      "label": "Mobile column gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 12,
      "visible_if": "{{ section.settings.enable_mobile_column_gap == true }}"
    },
    {
      "type": "header",
      "content": "t:content.section_layout"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "t:settings.width",
      "options": [
        {
          "value": "page-width",
          "label": "t:options.page"
        },
        {
          "value": "full-width",
          "label": "t:options.full"
        }
      ],
      "default": "page-width",
    },
    {
      "type": "checkbox",
      "id": "full_width_on_mobile",
      "label": "t:settings.full_width_on_mobile",
      "default": false,
      "visible_if": "{{ section.settings.section_width == 'page-width' }}"
    },
    {
      "type": "range",
      "id": "gap",
      "label": "t:settings.gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 12
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "background_media",
      "label": "t:settings.background_media",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "image",
          "label": "t:options.image"
        },
        {
          "value": "video",
          "label": "t:options.video"
        }
      ],
      "default": "none"
    },
    {
      "type": "video",
      "id": "video",
      "label": "t:settings.video",
      "visible_if": "{{ section.settings.background_media == 'video' }}"
    },
    {
      "type": "select",
      "id": "video_position",
      "label": "t:settings.video_position",
      "options": [
        {
          "value": "cover",
          "label": "t:options.cover"
        },
        {
          "value": "contain",
          "label": "t:options.contain"
        }
      ],
      "default": "cover",
      "visible_if": "{{ section.settings.background_media == 'video' }}"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "t:settings.image",
      "visible_if": "{{ section.settings.background_media == 'image' }}"
    },
    {
      "type": "select",
      "id": "background_image_position",
      "label": "t:settings.image_position",
      "options": [
        {
          "value": "cover",
          "label": "t:options.cover"
        },
        {
          "value": "fit",
          "label": "t:options.fit"
        }
      ],
      "default": "cover",
      "visible_if": "{{ section.settings.background_media == 'image' }}"
    },
    {
      "type": "checkbox",
      "id": "toggle_overlay",
      "label": "t:settings.background_overlay",
      "visible_if": "{{ section.settings.background_media != 'none' }}"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "t:settings.overlay_color",
      "alpha": true,
      "default": "#00000026",
      "visible_if": "{{ section.settings.toggle_overlay }}"
    },
    {
      "type": "select",
      "id": "overlay_style",
      "label": "t:settings.overlay_style",
      "options": [
        {
          "value": "solid",
          "label": "t:options.solid"
        },
        {
          "value": "gradient",
          "label": "t:options.gradient"
        }
      ],
      "default": "solid",
      "visible_if": "{{ section.settings.toggle_overlay }}"
    },
    {
      "type": "select",
      "id": "gradient_direction",
      "label": "t:settings.gradient_direction",
      "options": [
        {
          "value": "to top",
          "label": "t:options.up"
        },
        {
          "value": "to bottom",
          "label": "t:options.down"
        }
      ],
      "default": "to top",
      "visible_if": "{{ section.settings.toggle_overlay and section.settings.overlay_style == 'gradient' }}"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "custom_mobile_padding",
      "label": "Custom Mobile Padding",
      "default": false
    },
    {
      "type": "range",
      "id": "mobile-padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0,
      "visible_if": "{{ section.settings.custom_mobile_padding == true }}"
    },
    {
      "type": "range",
      "id": "mobile-padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0,
      "visible_if": "{{ section.settings.custom_mobile_padding == true }}"
    },
    {
      "type": "range",
      "id": "mobile-padding-inline-start",
      "label": "t:settings.left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0,
      "visible_if": "{{ section.settings.custom_mobile_padding == true }}"
    },
    {
      "type": "range",
      "id": "mobile-padding-inline-end",
      "label": "t:settings.right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0,
      "visible_if": "{{ section.settings.custom_mobile_padding == true }}"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS class",
      "info": "optional"
    }
  ],
  "presets": [
    {
      "name": "Scrolling Carousel",
      "category": "t:categories.layout"
    }
  ]
}
{% endschema %}